/* 기본 리셋 및 공용 설정 */
* {
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  zoom: 1.25;
}
